/* Fuentes Importadas */

/* Montserrat - Bold */
@font-face {
    font-family: "Montserrat Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}

/* Montserrat - SemiBold */
@font-face {
    font-family: "Montserrat SemiBold";
    src: url("../fonts/Montserrat-SemiBold.ttf");
}


/* Montserrat - Medium */
@font-face {
    font-family: "Montserrat Medium";
    src: url("../fonts/Montserrat-Medium.ttf");
}

/* Montserrat - Regular */
@font-face {
    font-family: "Montserrat Regular";
    src: url("../fonts/Montserrat-Regular.ttf");
}

/* Estilos generales */
* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #FFFFFF;
    margin: auto;
}

#titular {
    background-color: #F2CAB9;
}

.titular1 {
    margin: auto;
    padding: 20px;
    width: 950px;
    max-width: 1200px;
    color: black;
    font-family: "Montserrat Regular";
}

.titular2 {
    margin: auto;
    padding: 20px;
    width: 1000px;
    max-width: 1200px;
    font-family: "Montserrat Regular";
}

.tVerde {
    color: #A9B28D;
}

.tCentrado {
    text-align: center;
}

.metaData {
    font-family: "Montserrat Regular";

}

.metaData .author {
    font-family: "Montserrat Bold";
}

.metaData .author:hover {
    color: #FFFFFF;
    cursor: pointer;
}

/* Estilos del header */
#header {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 1000px;
    max-width: 1200px;
    justify-content: center;

}

/* header - Logo */
#header #logo {
    text-align: center;
}

#header #logo img {
    width: 800px;
}

/* header - Menú principal*/
#header .main-menu {
    max-width: 1200px;

}

#header .main-menu ul {
    display: flex;
    list-style: none;
    justify-content: center;
}



#header .main-menu li {
    padding: 10px;
}

#header .main-menu .elemento-menu {
    margin-bottom: 15px;
    margin-top: -15px;
    padding: 15px;
}

#header .main-menu li .submenu {
    display: none;
    background-color: white;
    position: absolute;
    margin-top: 15px;
    min-width: 180px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#header .main-menu li:hover .submenu {
    display: block;
}


#header .main-menu li:hover .submenu li {
    position: relative;
    border-bottom: 1px solid #A9B28D;
}

#header .main-menu li:hover .submenu li:hover {
    background-color: #A9B28D;
    color: white;
}

#header .main-menu li:hover .submenu li:hover a {
    color: white;
}


#header .main-menu a {
    font-family: "Montserrat Regular", Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
    display: block;
}

#header .main-menu a:visited {
    /* Cuando se visite una página, se mantendra el color negro */
    color: black;
}

#header .main-menu a:hover {
    /* Al pasar el ratón se aplicarán estos estilos */
    color: #A9B28D;
}


/* Estilos Footer*/

#footer {
    padding-top: 8px;
    background-color: #5E6549;
}

#footer #contenidoFooter {
    margin: auto;

}

#footer p,
#footer a {
    color: white;
    text-decoration: none;
    font-family: "Montserrat Regular";
}

#footer a:hover {
    color: #A9B28D;
}

#footer .footerMenu a {
    font-size: 14px;
    margin: 10px;
}

#footer #zonaInferiorFooter a,
#footer #zonaInferiorFooter p {
    font-size: 12px;
    margin: 10px;
}

#footer .socialIcons {
    margin-right: 10px;
}

#footer .socialIcons a {
    font-size: 16px;
    margin: 5px;
}

#footer #zonaSuperiorFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 1000px;
    max-width: 1200px;
    padding: 5px;
}

#footer #zonaSuperiorFooter .columnLeft {
    display: flex;
    align-items: center;
}

#footer #logoFooter img {
    width: 80px;
}


#footer #SeparadorFooter div {
    background-color: white;
    width: 100%;
    height: 1px;
    opacity: 0.5;
}

#zonaInferiorFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 1000px;
    max-width: 1200px;
    padding: 15px;
}

/* Página de recetas + Algunos apartados del home*/

/* Cocina restrictiva */

#cocinaRestritiva {
    margin-top: 15px;
    margin-bottom: 25px;
}

.bloquesCategorias {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1000px;
    max-width: 1200px;
    flex-wrap: wrap;
}

.bloquesCategorias .bloque {
    width: 100px;
    margin: 20px;
    text-align: center;
    padding: 20px;
}

.bloquesCategorias div:nth-child(odd) {
    background-color: #F2CAB9;
}

.bloquesCategorias div:nth-child(even) {
    background-color: #A9B28D;
}


.bloquesCategorias .bloque a {
    color: white;
    text-decoration: none;
    font-family: "Montserrat Regular";
}

.bloquesCategorias .bloque img {
    width: 60px;
}

/* Últimas recetas */

#ultimasRecetas {
    padding: 25px;
    background-color: #F2CAB9;
    font-family: "Montserrat Regular";
}

.bloquesUltimasRecetas {
    display: flex;
    justify-content: space-around;
    width: 950px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
}

.bloquesUltimasRecetas .bloque {
    width: 250px;

}

.bloquesUltimasRecetas .bloque img {
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bloquesUltimasRecetas .bloque a {
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-family: "Montserrat Regular";
    margin-top: 20px;
    margin-bottom: 20px;
}

.bloque a:hover {
    color: #FFFFFF;
    cursor: pointer;
}

.bloquesUltimasRecetas .bloque .separador {
    background-color: black;
    width: 80px;
    height: 1px;
    margin: 3px auto 20px;
}

.bloquesUltimasRecetas .bloque .categoriaUltimasRecetas {
    margin-bottom: 5px;
}

.bloquesUltimasRecetas .bloque .titular3 a {
    font-size: 16px;
    font-family: "Montserrat Bold";
    margin: 15px auto;
}

.bloquesUltimasRecetas .bloque .resumen {
    font-size: 12px;
    margin: 15px auto;
}

.bloquesUltimasRecetas .bloque .metaData {
    font-size: 10px;
    margin: 10px auto;
}



/* Contacto */

#introduccionContacto .fraseIntroduccion {
    font-family: "Montserrat Regular";
    max-width: 1200px;
    margin: 30px auto;
    text-align: center;
}

#bloqueContacto {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    margin: auto;
    margin-bottom: 35px;
}

#bloqueContacto .datosContacto {
    display: flex;
    flex-direction: column;
    background-color: #A9B28D;
    padding: 20px;
    width: 400px;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#bloqueContacto .datosContacto a {
    color: white;
    margin-bottom: 50px;
    text-decoration: none;
    font-family: "Montserrat Regular";

}

#bloqueContacto .datosContacto a:first-child {
    margin-top: 50px;
}

#bloqueContacto .datosContacto a:hover {
    color: #5E6549;
}

#bloqueContacto .mapa iframe {
    width: 420px;
    height: 420px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#bloqueContacto .enlaceDatoContacto {
    font-size: 15px;
    display: flex;
    align-items: center;
}

#bloqueContacto .icono {
    font-size: 30px;
    margin: auto 8% auto 8%;
}

/* Páfgina categoria de recetas */

#carruselCategorias .titular2 {
    margin-top: 10px;

}

#bloquesFavoritas {
    font-family: "Montserrat Regular";
    border: #F2CAB9 1px solid;
    width: 980px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 20px;
}

#bloquesFavoritas .bloqueFav {
    display: flex;
    width: 955px;
    max-width: 1200px;
    border: #A9B28D 1px solid;
    margin: 10px;


}

#bloquesFavoritas .bloqueFav img {
    width: 180px;
    margin: 10px;

}

#bloquesFavoritas .bloqueFav .contenido {
    width: 800px;
    max-width: 1200px;
}

#bloquesFavoritas .bloqueFav .tituloFav,
#bloquesFavoritas .bloqueFav .tituloFav a {
    background-color: #A9B28D;
    color: white;
    padding-top: 18px;
    padding-left: 9px;
    padding-bottom: 5px;
    font-family: "Montserrat Semibold";
    text-decoration: none;
}

#bloquesFavoritas .bloqueFav .tituloFav a:hover {
    color: #5E6549;
}

#bloquesFavoritas .bloqueFav .categoriasFav,
#bloquesFavoritas .bloqueFav .categoriasFav a {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 8px;
    color: #F2CAB9;
    text-decoration: none;
    font-size: 12px;
}

#bloquesFavoritas .bloqueFav .categoriasFav a:hover {
    color: black;
}

#bloquesFavoritas .bloqueFav .resumen {
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

#bloquesFavoritas .bloqueFav .metaData {
    margin-top: 12px;
    margin-left: 15px;
    font-size: 12px;
}

/* Páginas legales */

#paginasLegales {
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: "Montserrat Regular";
    text-decoration: none;
    text-align: justify;
    width: 980px;
    max-width: 1200px;
    margin: auto;

}

#paginasLegales h3 {
    font-family: "Montserrat Semibold";
    font-size: medium;
}

#paginasLegales ul {
    margin-left: 2em;
}

#paginasLegales ul a {
    color: #000000;
}

/* Páginas recetas */
#mainReceta {
    font-family: "Montserrat Regular";

}

#mainReceta .contenido {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content:space-around;
}

#cuerpoReceta p{
    font-size: 14px;
}
#cuerpoReceta {
    text-decoration: none;
    text-align: left;
}

#cuerpoReceta .author,
#cuerpoReceta .date {
    font-family: "Montserrat Bold";
    font-size: 10px;
}

#cuerpoReceta .date {
    color: #F2CAB9;
}

#cuerpoReceta .bloquesReceta {
    display: flex;
    flex-direction: row;
}

#cuerpoReceta .bloqueReceta {
    display: flex;
    justify-content: space-around;
}

#cuerpoReceta .bloqueReceta2 {
    margin: 2px;
    padding: 10px;
}

#cuerpoReceta .fotorec {
    width: 472px;
    height: 472px;
}

#cuerpoReceta .ingredientesReceta h3 {
    background-color: #F2CAB9;
    color: #FFFFFF;
    font-family: "Montserrat Semibold";
    padding: .5em;
    text-align: left;
}

#cuerpoReceta .ingredientesReceta {
    width: 270px;
    height: 470px;
    border: solid 2px #F2CAB9;
}

#cuerpoReceta .ingredientesReceta p,
#cuerpoReceta .ingredientesReceta ul {
    padding: 10px;
}

#cuerpoReceta li {
    margin-left: 3em;
    margin-right: 1.2em;
    font-size: 14px;
}

#cuerpoReceta .preparacion h3 {
    background-color: #A9B28D;
    color: #FFFFFF;
    font-family: "Montserrat Semibold";
    padding: .5em;
    text-align: left;
}


#cuerpoReceta .preparacion {
    width: 750px;
    border: solid 2px #A9B28D;
    padding-bottom: 1em;
    margin-bottom: 25px;
}

#cuerpoReceta .textoReceta p {
    width: 720px;
    padding-bottom: 1em;
    margin-left: 0;
}

aside {
    font-family: "Montserrat Regular";
    border-left: #F2CAB9 solid 2px;
    width: 200px;
    padding: 20px;
    text-align: center;
}

aside .otrasRecetas {
    padding: 15px;
}

aside .enlaceReceta {
    font-family: "Montserrat Semibold";
    text-align: center;
}


aside h3 {
    text-align: center;
    font-size: 24px;
}

aside img {
    width: 200px;
}

aside .otrasRecetas .enlaceReceta {
    text-decoration: none;
    color: #000000;
    text-align: center;
}

aside .otrasRecetas .catReceta {
    text-decoration: none;
    color: #F2CAB9;
    text-align: center;
    font-family: "Montserrat Semibold";
    font-size: 12px;
}

aside .catReceta a:hover {
    color: #A9B28D;
}


/* Truco */

#tituloTruco {
    margin: 40px;
    margin-bottom: 10px;

}

#tituloTruco .nombreTruco {
    font-family: "Montserrat Regular";
    margin: 40px auto;
    margin-bottom: 0;
    text-align: left;
    font-weight: bold;
    font-size: x-large
}

#tituloTruco .autorTruco {
    font-family: "Montserrat semibold";
    font-size: x-small;
    display: inline;
    margin-top: 0;

}

#tituloTruco .fechaTruco {
    font-family: "Montserrat Semibold";
    font-size: x-small;
    color: #F2CAB9;
    display: inline;
    margin-left: 1em;

}

#bloqueTruco {
    margin-top: 0;
    margin-left: 40px;
    justify-content: center;
    margin-bottom: 35px;
    border: solid #A9B28D 1px;
    padding: 10px;

}

#bloqueTruco .videoTruco iframe {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 1em;
}

#bloqueTruco .textoTruco {
    font-family: "Montserrat Regular";
    width: 570px;
    text-align: justify;
    padding: 1em;

}

.comparteTruco {
    background-color: #A9B28D;
    padding: 5px;
    margin-top: 5px;

}

.comparteTruco a {
    color: white;
    text-decoration: none;
    font-family: "Montserrat Regular";
    font-size: 12px;
    margin: 5px;

}

.textoCompartir {
    color: white;
    text-decoration: none;
    font-family: "Montserrat Regular";
    font-size: 12px;
    margin: 5px;
}

.comparteTruco a:hover {
    color: #A9B28D;
}

#trucoIzquierda {
    position: relative;
    float: left;
    background-color: #FFFFFF;
    padding-left: 5%;
    width: auto;
}

#trucoDerecha {
    position: absolute;
    right: 2%;
    background-color: #FFFFFF;
    font-family: "Montserrat Regular";
    padding-top: 20px;
    border-left: #F2CAB9 solid 2px;
    padding-left: 30px;

}

#trucoDerecha .otrostrucos {
    padding: 1.5em;
}

#trucoDerecha h3 {
    text-align: center;
    font-size: x-large;
    font-weight: normal;
}

#trucoDerecha a {
    text-decoration: none;
    color: #000000;
    text-align: center;
    display: inline;
}

#trucoDerecha a:hover {
    color: #A9B28D;
}

#main {
    background-color: #FFFFFF;
}

/* Página Trucos*/
#ultimosTrucos {
    font-family: "Montserrat Regular";
    margin: 5%;

}

#ultimosTrucos h3 {
    font-size: x-large;
}

#contenedorSlide .videoSlide {
    float: left;
    margin: auto;
    width: 1000px;
    max-width: 1200px;
    padding: 5px;
}







/* Página sobre nosotras*/

#bloqueAbout {
    font-family: "Montserrat Regular";
    text-align: justify;
    display: flex;
    max-width: 1200px;
    justify-content: center;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;

}

#bloqueAbout .textoAbout {
    padding: 20px;
    margin-left: 5%;
}

#bloqueAbout .fotoAbout {
    padding: 20px;

}

#bloqueAbout .fotoAbout img {
    width: 600px;

}


.comparteTruco a:hover {
    color: #A9B28D;
}


/* Páfgina categoria de recetas */

#carruselCategorias .titular2 {
    margin-top: 10px;

}