/* Fuentes Importadas */

/* Montserrat - Bold */
@font-face {
    font-family: "Montserrat Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}

/* Montserrat - SemiBold */
@font-face {
    font-family: "Montserrat SemiBold";
    src: url("../fonts/Montserrat-SemiBold.ttf");
}


/* Montserrat - Medium */
@font-face {
    font-family: "Montserrat Medium";
    src: url("../fonts/Montserrat-Medium.ttf");
}

/* Montserrat - Regular */
@font-face {
    font-family: "Montserrat Regular";
    src: url("../fonts/Montserrat-Regular.ttf");
}

/* Estilos generales */
* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
    margin: auto;
}

#titular {
    background-color: #F2CAB9;
}

.titular1 {
    margin: auto;
    padding: 20px;
    width: 950px;
    max-width: 1200px;
    color: black;
    font-family: "Montserrat Regular";
}

.titular2 {
    margin: auto;
    padding: 20px;
    width: 1000px;
    max-width: 1200px;
    font-family: "Montserrat Regular";
}

.tVerde {
    color: #A9B28D;
}

.tCentrado {
    text-align: center;
}

.metaData {
    font-family: "Montserrat Regular";

}

.metaData .author {
    font-family: "Montserrat Bold";
}

.metaData .author:hover {
    color: #FFFFFF;
    cursor: pointer;
}

/* Estilos del header */
#header {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 1000px;
    max-width: 1200px;
    justify-content: center;

}

/* header - Logo */
#header #logo {
    text-align: center;
}

#header #logo img {
    width: 800px;
}

/* header - Menú principal*/
#header .main-menu {
    max-width: 1200px;

}

#header .main-menu ul {
    display: flex;
    list-style: none;
    justify-content: center;
}



#header .main-menu li {
    padding: 10px;
}

#header .main-menu .elemento-menu {
    margin-bottom: 15px;
    margin-top: -15px;
    padding: 15px;
}

#header .main-menu li .submenu {
    display: none;
    background-color: white;
    position: absolute;
    margin-top: 15px;
    min-width: 180px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 999;
}

#header .main-menu li:hover .submenu {
    display: block;
}


#header .main-menu li:hover .submenu li {
    position: relative;
    border-bottom: 1px solid #A9B28D;
}

#header .main-menu li:hover .submenu li:hover {
    background-color: #A9B28D;
    color: white;
}

#header .main-menu li:hover .submenu li:hover a {
    color: white;
}


#header .main-menu a {
    font-family: "Montserrat Regular", Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
    display: block;
}

#header .main-menu a:visited {
    /* Cuando se visite una página, se mantendra el color negro */
    color: black;
}

#header .main-menu a:hover {
    /* Al pasar el ratón se aplicarán estos estilos */
    color: #A9B28D;
}


/* Estilos Footer*/

#footer {
    padding-top: 8px;
    background-color: #5E6549;
}

#footer #contenidoFooter {
    margin: auto;

}

#footer p,
#footer a {
    color: white;
    text-decoration: none;
    font-family: "Montserrat Regular";
}

#footer a:hover {
    color: #A9B28D;
}

#footer .footerMenu a {
    font-size: 14px;
    margin: 10px;
}

#footer #zonaInferiorFooter a,
#footer #zonaInferiorFooter p {
    font-size: 12px;
    margin: 10px;
}

#footer .socialIcons {
    margin-right: 10px;
}

#footer .socialIcons a {
    font-size: 16px;
    margin: 5px;
}

#footer #zonaSuperiorFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 1000px;
    max-width: 1200px;
    padding: 5px;
}

#footer #zonaSuperiorFooter .columnLeft {
    display: flex;
    align-items: center;
}

#footer #logoFooter img {
    width: 80px;
}


#footer #SeparadorFooter div {
    background-color: white;
    width: 100%;
    height: 1px;
    opacity: 0.5;
}

#zonaInferiorFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 1000px;
    max-width: 1200px;
    padding: 15px;
}

/* Estilos landingpage */

/* Slider principal*/
#slider {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 980px;
    max-width: 1200px;
}

#slider input[type=radio] {
    display: none;
}

#slider label {
    cursor: pointer;
    text-decoration: none;
}

#slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#slide1:checked~#slides .inner {
    margin-left: 0;
}

#slide2:checked~#slides .inner {
    margin-left: -100%;
}

#slide3:checked~#slides .inner {
    margin-left: -200%;
}

#slide4:checked~#slides .inner {
    margin-left: -300%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
}

#slides .slide {
    width: 25%;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    color: #000000;
}


#slides .slide_1 {
    background: url(../images/slider/slider1.png);
    background-size: cover;
    transition: all 0.5s ease;
}

#slides .slide_1:hover {
    background: url(../images/slider/slider1_hover.png);
    background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


#slides .slide_2 {
    background: url(../images/slider/slider2.png);
    background-size: cover;
    transition: all 0.5s ease;
}

#slides .slide_2:hover {
    background: url(../images/slider/slider2_hover.png);
    background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


#slides .slide_3 {
    background: url(../images/slider/slider3.png);
    background-size: cover;
    transition: all 0.5s ease;
}

#slides .slide_3:hover {
    background: url(../images/slider/slider3_hover.png);
    background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#slides .slide_4 {
    background: url(../images/slider/slider4.png);
    background-size: cover;
    transition: all 0.5s ease;
}


#slides .slide_4:hover {
    background: url(../images/slider/slider4_hover.png);
    background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
}

#controls label:hover {
    opacity: 1;
}

#bullets {
    margin: 150px 0 0;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #5E6549;
    margin: 0 10px;
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3),
#slide4:checked~#bullets label:nth-child(4) {
    background: #A9B28D;
}

/* Receta destacada*/
#recetaDestacada .receta {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 60%;
    padding-bottom: 60px;

}

#recetaDestacada .receta .contenido {
    max-width: 800px;
    width: 600px;
    margin-right: 20px;
    padding: 30px 0px;
    font-family: "Montserrat Regular";

}


#recetaDestacada .receta h2 {
    color: #5E6549;
    font-family: "Montserrat Bold";
}

#recetaDestacada .receta h3 {
    color: #A9B28D;

}

#recetaDestacada .receta h2,
#recetaDestacada .receta h3 {
    margin-bottom: 10px;
}

#recetaDestacada .receta p {
    margin-top: 15;
    margin-bottom: 40px;
}

#recetaDestacada .btn-green a {
    background-color: #A9B28D;
    color: #fff;
    text-decoration: none;
    padding: 10px 50px;
}

#recetaDestacada .btn-green a:hover {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    background-color: #5E6549;
}



#recetaDestacada .imagenDestacada img {
    margin-top: 30px;
    width: 280px;
    height: 280px;
    object-fit: cover;

}

/* Galería */

#galeriaParticipa {
    background-color: #F2CAB9;
    padding-bottom: 40px;
}

#galeriaParticipa .galeria {
    display: flex;
    max-width: 1200px;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
}


#galeriaParticipa .galeria li {
    margin: 0px;
    list-style: none;

}

#galeriaParticipa .galeria img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: -4px;
}

#galeriaParticipa .galeria:first-child img {
    margin-top: 0px;
}


#galeriaParticipa .lightbox {
    display: none;
}

#galeriaParticipa .lightbox :target {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    padding: 10px;
    opacity: 1;

}

#galeriaParticipa .lightbox h3 {
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
    font-family: "Montserrat SemiBold";
}

#galeriaParticipa .lightbox .imagen {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#galeriaParticipa .lightbox .imagen a {
    font-family: "Montserrat Regular";
    color: #FFFFFF;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;

}

#galeriaParticipa .lightbox .imagen a:nth-child(2) {
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

#galeriaParticipa .lightbox .imagen img {
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 1px solid #FFFFFF;
}



#galeriaParticipa .lightbox .cerrar .fa-xmark {
    display: block;
    font-size: 30px;
    color: #FFFFFF;
    margin: auto;
}

#galeriaParticipa .lightbox .cerrar .fa-xmark {
    font-size: 30px;
    color: #FFFFFF;
}

/* Página de recetas + Algunos apartados del home*/

/* Cocina restrictiva */

#cocinaRestritiva {
    margin-top: 15px;
    margin-bottom: 25px;
}

.bloquesCategorias {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1000px;
    max-width: 1200px;
    flex-wrap: wrap;
}

.bloquesCategorias .bloque {
    width: 100px;
    margin: 20px;
    text-align: center;
    padding: 20px;
}

.bloquesCategorias div:nth-child(odd) {
    background-color: #F2CAB9;
}

.bloquesCategorias div:nth-child(even) {
    background-color: #A9B28D;
}


.bloquesCategorias .bloque a {
    color: white;
    text-decoration: none;
    font-family: "Montserrat Regular";
}

.bloquesCategorias .bloque img {
    width: 60px;
}

/* Últimas recetas */

#ultimasRecetas {
    padding: 25px;
    background-color: #F2CAB9;
    font-family: "Montserrat Regular";
}

.bloquesUltimasRecetas {
    display: flex;
    justify-content: space-around;
    width: 950px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
}

.bloquesUltimasRecetas .bloque {
    width: 250px;

}

.bloquesUltimasRecetas .bloque img {
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bloquesUltimasRecetas .bloque a {
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-family: "Montserrat Regular";
    margin-top: 20px;
    margin-bottom: 20px;
}

.bloque a:hover {
    color: #FFFFFF;
    cursor: pointer;
}

.bloquesUltimasRecetas .bloque .separador {
    background-color: black;
    width: 80px;
    height: 1px;
    margin: 3px auto 20px;
}

.bloquesUltimasRecetas .bloque .categoriaUltimasRecetas {
    margin-bottom: 5px;
}

.bloquesUltimasRecetas .bloque .titular3 a {
    font-size: 16px;
    font-family: "Montserrat Bold";
    margin: 15px auto;
}

.bloquesUltimasRecetas .bloque .resumen {
    font-size: 12px;
    margin: 15px auto;
}

.bloquesUltimasRecetas .bloque .metaData {
    font-size: 10px;
    margin: 10px auto;
}



/* Contacto */

#introduccionContacto .fraseIntroduccion {
    font-family: "Montserrat Regular";
    max-width: 1200px;
    margin: 30px auto;
    text-align: center;
}

#bloqueContacto {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    margin: auto;
    margin-bottom: 45px;
}

#bloqueContacto .datosContacto {
    display: flex;
    flex-direction: column;
    background-color: #A9B28D;
    padding: 20px;
    width: 400px;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#bloqueContacto .datosContacto a {
    color: white;
    margin-bottom: 50px;
    text-decoration: none;
    font-family: "Montserrat Regular";

}

#bloqueContacto .datosContacto a:first-child {
    margin-top: 50px;
}

#bloqueContacto .datosContacto a:hover {
    color: #5E6549;
}

#bloqueContacto .mapa iframe {
    width: 420px;
    height: 420px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#bloqueContacto .enlaceDatoContacto {
    font-size: 15px;
    display: flex;
    align-items: center;
}

#bloqueContacto .icono {
    font-size: 30px;
    margin: auto 8% auto 8%;
}

/* Formulario de contacto */
#formularioContacto {
    margin: auto;
    font-family: "Montserrat Regular";
}

#contendorBloqueFormulario {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    width: 870px;
    margin: auto;
    margin-bottom: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#contendorBloqueFormulario .formulario {
    background-color: #F2CAB9;
    width: 450px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.formulario h3 {
    color: white;
}

.formulario .separador {
    background-color: white;
    width: 60px;
    height: 2px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formulario input {
    height: 30px;
}

.formulario textarea {
    height: 100px;
}

.formulario input,
.formulario textarea {
    border: none;
    padding: 5px;
    width: 80%;
    border-radius: 0px;
    margin: 10px;
    transition: all 0.5s ease;
}

.formulario input::placeholder,
.formulario textarea {
    color: rgba(169, 178, 141, 0.30);
}


.formulario input:focus::placeholder,
.formulario textarea:focus {
    color: rgba(169, 178, 141, 1);
}

.formulario input[type=submit] {
    background-color: #A9B28D;
    width: 80%;
    border: none;
    padding: 5px;
    color: #fff;
    transition: all 0.5s ease;
}

.formulario input[type=submit]:hover {
    background-color: #5E6549;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
}

.ilustracion {
    background: url(../images/formulario/background_formulario.jpg);
    background-size: 350px;
    object-fit: cover;
    display: flex;
    align-items: flex-end;
}

.ilustracion span {
    position: relative;

}

.ilustracion img {
    width: 430px;
    margin-bottom: -4px;
}




#contendorBloqueFormulario .ilustracion {
    background-color: #A9B28D;
    width: 450px;
}

/* Páfgina categoria de recetas */

#carruselCategorias .titular2 {
    margin-top: 10px;

}

#bloquesFavoritas {
    font-family: "Montserrat Regular";
    border: #F2CAB9 1px solid;
    width: 980px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 50px;
}

#bloquesFavoritas .bloqueFav {
    display: flex;
    width: 955px;
    max-width: 1200px;
    border: #A9B28D 1px solid;
    margin: 10px;


}

#bloquesFavoritas .bloqueFav img {
    width: 180px;
    margin: 10px;

}

#bloquesFavoritas .bloqueFav .contenido {
    width: 800px;
    max-width: 1200px;
}

#bloquesFavoritas .bloqueFav .tituloFav,
#bloquesFavoritas .bloqueFav .tituloFav a {
    background-color: #A9B28D;
    color: white;
    padding-top: 18px;
    padding-left: 9px;
    padding-bottom: 5px;
    font-family: "Montserrat Semibold";
    text-decoration: none;
}

#bloquesFavoritas .bloqueFav .tituloFav a:hover {
    color: #5E6549;
}

#bloquesFavoritas .bloqueFav .categoriasFav,
#bloquesFavoritas .bloqueFav .categoriasFav a {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 8px;
    color: #F2CAB9;
    text-decoration: none;
    font-size: 12px;
}

#bloquesFavoritas .bloqueFav .categoriasFav a:hover {
    color: black;
}

#bloquesFavoritas .bloqueFav .resumen {
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

#bloquesFavoritas .bloqueFav .metaData {
    margin-top: 12px;
    margin-left: 15px;
    font-size: 12px;
}


/* Páginas legales */

#paginasLegales {
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: "Montserrat Regular";
    text-decoration: none;
    text-align: justify;
    width: 980px;
    max-width: 1200px;
    margin: auto;

}

#paginasLegales h3 {
    font-family: "Montserrat Semibold";
    font-size: medium;
}

#paginasLegales ul {
    margin-left: 2em;
}

#paginasLegales ul a {
    color: #000000;
}

/* Páginas recetas */
#mainReceta {
    font-family: "Montserrat Regular";

}

#mainReceta .titular2 {
    margin-left: 30px;
}

#mainReceta .contenido {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#cuerpoReceta p {
    font-size: 14px;
}

#cuerpoReceta {
    text-decoration: none;
    text-align: left;
}

#cuerpoReceta .author,
#cuerpoReceta .date {
    font-family: "Montserrat Bold";
    font-size: 10px;
}

#cuerpoReceta .author {
    margin-left: 50px;

}

#cuerpoReceta .date {
    color: #F2CAB9;
}

#cuerpoReceta .bloquesReceta {
    display: flex;
    flex-direction: row;
}

#cuerpoReceta .bloqueReceta {
    display: flex;
    justify-content: space-between;
}

#cuerpoReceta .bloqueReceta2 {
    margin: 2px;
    padding: 10px;
}

#cuerpoReceta .fotorec {
    width: 472px;
    height: 472px;
    margin-left: 50px;
}

#cuerpoReceta .ingredientesReceta h3 {
    background-color: #F2CAB9;
    color: #FFFFFF;
    font-family: "Montserrat Semibold";
    padding: .5em;
    text-align: left;

}

#cuerpoReceta .ingredientesReceta {
    margin-right: 5%;
    width: 270px;
    height: 470px;
    border: solid 2px #F2CAB9;
}

#cuerpoReceta .ingredientesReceta p,
#cuerpoReceta .ingredientesReceta ul {
    padding: 10px;
}

#cuerpoReceta li {
    margin-left: 3em;
    margin-right: 1.2em;
    font-size: 14px;
}

#cuerpoReceta .preparacion h3 {
    background-color: #A9B28D;
    color: #FFFFFF;
    font-family: "Montserrat Semibold";
    padding: .5em;
    text-align: left;
}


#cuerpoReceta .preparacion {
    width: 980px;
    border: solid 2px #A9B28D;
    padding-bottom: 1em;
    margin-bottom: 25px;
    margin-left: 50px;

}

#cuerpoReceta .preparacion p {
    margin-left: 50px;
}

#cuerpoReceta .textoReceta p {
    width: 720px;
    padding-bottom: 1em;
    margin-left: 50px;
    margin-top: 30px;
}

#cuerpoReceta #bloquesReceta .socialIcons {
    margin-left: 50px;
    margin-bottom: 60px;
}

#cuerpoReceta #bloquesReceta .socialIcons a {
    color: #000000;
    font-size: 16px;
    margin-right: 8px;
}

#cuerpoReceta #bloquesReceta .socialIcons a:hover {
    color: #5E6549;
    font-size: 16px;
    margin-right: 8px;
}

aside {
    font-family: "Montserrat Regular";
    border-left: #F2CAB9 solid 2px;
    width: 200px;
    padding: 20px;
    text-align: center;
}

aside .otrasRecetas {
    padding: 15px;
}

aside .enlaceReceta {
    font-family: "Montserrat Semibold";
    text-align: center;
}


aside h3 {
    text-align: center;
    font-size: 24px;
}

aside img {
    width: 200px;
}

aside .otrasRecetas .enlaceReceta {
    text-decoration: none;
    color: #000000;
    text-align: center;
}

aside .otrasRecetas .catReceta {
    text-decoration: none;
    color: #F2CAB9;
    text-align: center;
    font-family: "Montserrat Semibold";
    font-size: 12px;
}

aside .catReceta a:hover {
    color: #A9B28D;
}


/* Truco */

#tituloTruco {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: "Montserrat Regular";
}

#tituloTruco .nombreTruco,
#trucoDerecha h3 {
    font-family: "Montserrat Regular";
    margin:  auto;
    margin-bottom: 0;
    text-align: left;
    font-weight: bold;
    font-size: x-large
}

#tituloTruco .autorTruco {
    font-family: "Montserrat semibold";
    font-size: x-small;
    display: inline;
    margin-top: 0;

}

#tituloTruco .fechaTruco {
    font-family: "Montserrat Semibold";
    font-size: x-small;
    color: #F2CAB9;
    display: inline;
    margin-left: 1em;

}

#contenidoTruco {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    font-family: "Montserrat Regular";
    font-size: 14px;
    text-align: justify;
}

#bloqueTruco {
    margin-top: 0;
    margin-left: 40px;
    justify-content: center;
    margin-bottom: 35px;
    padding: 10px;
}

#bloqueTruco .videoTruco iframe {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 1em;
}

#bloqueTruco .textoTruco {
    width: 570px;
    padding: 10px;
}

 .textoTruco p {
  margin:10px;
  font-family: "Montserrat Regular";
}

.comparteTruco {
    background-color: #A9B28D;
    padding: 5px;
    margin-top: 5px;

}

.comparteTruco a {
    color: white;
    text-decoration: none;
    font-family: "Montserrat Regular";
    font-size: 12px;
    margin: 5px;

}

.textoCompartir {
    color: white;
    text-decoration: none;
    font-family: "Montserrat Regular";
    font-size: 12px;
    margin: 5px;
}

.comparteTruco .socialIcons a:hover{
    color: #5E6549;
    
}

#trucoIzquierda {
    padding-left: 5%;
    width: 1200px;
}

#trucoIzquierda  #cardTruco {
    width: 560px;
    padding: 10px;
}

#trucoDerecha {
    background-color: #FFFFFF;
    font-family: "Montserrat Regular";
    padding-top: 20px;
    border-left: #F2CAB9 solid 2px;
    padding-left: 30px;

}

#trucoDerecha .otrostrucos {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#trucoDerecha h3 {
   margin-bottom: 20px;
}

#trucoDerecha h4 {
    margin-bottom: 20px;
    font-family: "Montserrat SemiBold";
    text-align: center;
    font-size: 16px;
 }

#trucoDerecha a {
    text-decoration: none;
    color: #000000;
    margin: auto;
    display: inline;
}

#trucoDerecha a:hover {
    color: #A9B28D;
}














/* Página sobre nosotras*/

#bloqueAbout {
    font-family: "Montserrat Regular";
    text-align: justify;
    display: flex;
    max-width: 1200px;
    justify-content: center;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;

}

#bloqueAbout .textoAbout {
    padding: 20px;
    margin-left: 5%;
}

#bloqueAbout .fotoAbout {
    padding: 20px;

}

#bloqueAbout .fotoAbout img {
    width: 600px;

}


.comparteTruco a:hover {
    color: #A9B28D;
}


/* Página categoria de recetas */

#carruselCategorias .titular2 {
    margin-top: 10px;

}


/* página trucos*/

/*Carrusel trucos*/

#ultimosTrucos {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#videoCards1 .columna,
#videoCards2 .columna {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 300px;
    border: 1px solid #ccc;
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);

}


.card h4 {
    margin-bottom: 5px;
    padding-left: 5px;
    font-size: 16px;
    text-align: center;
}


.card h4 a {
    color: #000000;
    text-decoration: none;
    font-family: "Montserrat SemiBold";
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);

}

.card iframe {
    margin: auto;
    width: 100%;
}


.card .resumen {
    padding: 10px;
    text-align: justify;
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);

}

.card .leerMas {
    padding: 10px;
}


.card .leerMas a {
    color: #A9B28D;
    text-decoration: none;
}

.card:hover,
.card:hover a {
    background: #A9B28D;
    cursor: pointer;
    width: 320px;
    font-size: 17px;
}

.card h4:hover a {
    color: #fff;
    cursor: pointer;
}

.card:hover .leerMas a {
    color: #5E6549;
    cursor: pointer;
}

.card .leerMas a:hover {
    color: #fff;
}


#videoCards2 {
    display: flex;
    flex-direction: column;
}

#videoCards2 #columna2 {
    display: none;
    order: 0;
}


#videoCards2 #columna2 {
    display: none;
    order: 1;
}

#videoCards2 #chk:checked+#columna2 {
    display: flex;
}


#videoCards2 input[type=checkbox] {
    display: none;
}

#videoCards2 button {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    order: 2;

}

#videoCards2 .contenidoBtn {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #A9B28D;
    border: none;
    padding: 10px;
    width: 100px;
    margin: auto;
}

#videoCards2 .contenidoBtn:hover {
    background-color: #5E6549;
    cursor: pointer;

}



